* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:whitesmoke;
    display: flex;
    justify-content:space-between;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

.logoDev{
    border-radius: 10px;
}


ul{
    display: flex;
    align-items: center;
    height: 100%;
   } 

nav ul li {
    color: rgb(4, 4, 57);
    list-style: none;
    margin-left: 20px;
    }   

.cor_de_fundo_main{
    background-color: rgb(110, 9, 204);
    padding-top: 5px;
}

.container{
    display: flex;
    justify-content: space-around
}

.legenda{
    position: absolute;
    padding-top: 50px;
    color: rgb(250, 248, 244);
 }

.section_div_desenvolvedores{
    margin: 2px;
 }

div{
 margin: 20px;
padding: 10px; 
}

.div_blocos_adalberto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.div_blocos_babbi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

}

.div_blocos_fabiana{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
 
}

.portifolio-fabiana{
    display: flex;
    background-image: url(/img/imagem12.jpg);
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

}
    

.div_formulario{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: blueviolet;
    justify-content: center;
    width: 250px;
    height: 190px;
    border-radius: 15px;
    padding: 22px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
 
.plano_de_fundo{
    background-image:url(/img/planofundo.png)
 
}

