* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:whitesmoke;
    display: flex;
    justify-content:space-between;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


ul{
    display: flex;
    align-items: center;
    height: 100%;
   } 

nav ul li {
    color: rgb(4, 4, 57);
    list-style-type: none;
    margin-left: 20px;
    }   

.cor_de_fundo_main{
    background-color: rgb(110, 9, 204);
    padding-top: 5px;
}

.container{
    display: flex;
    justify-content: space-around
}

.legenda{
    position: absolute;
    padding-top: 50px;
    color: rgb(250, 248, 244);
 }

.section_div_desenvolvedores{
    margin: 2px;
 }

div{
 margin: 20px;
padding: 10px; 
}

.div_blocos_adalberto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_blocos_babbi{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.div_blocos_fabiana{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}


.formulario{
    background-color: blueviolet;
    
    width: 500px;
    height: 300px;
    border-radius: 15px;
    padding: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cor_de_fundo_footer{
    background-color: rgb(245, 164, 13);
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0 auto;
}
